/* Below css helps to changed the style browser to default*/
*{
    margin: 0;
    padding:0;
    box-sizing: 0;
}

body{
    background-image: linear-gradient(120deg, #f6d365, #85fd85 );
    font-family: "Poppins", sans-serif;
    min-height: 100vh;    
}

header{
    font-size: 1.5rem;

}

header,
form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;    
}

form input, 
form button{
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
}
form button{
    color:rgb(14, 14, 27);
    background: rgb(233, 231, 227);
    cursor:pointer;/*mouse hand icon */
    transition: all 0.3s ease;
}
form button:hover{
    background:rgb(14, 14, 27);
    color:rgb(233, 231, 227); 
}